<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Quiz App</title>
  <style>
    body {
      padding-top: 56px;
    }
    .jumbotron {
      background-color: #f8f9fa;
    }
    .card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/index">Quiz Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:unless="${user}" href="/register">Register</a>
        <a class="nav-link" th:if="${user}" th:href="'/myprofile/' + ${user.id}">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:if="${user}"th:href="'/logout'">Log Out</a>
        <a class="nav-link" th:unless="${user}" href="/login">Login</a>

      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Quizzes Application,

      <span th:if="${user != null}" th:text="${user.firstname} + ' ' + ${user.lastname}"></span>
      <span th:unless="${user != null}"> Guest </span></h1>

    <p class="lead" th:if="${user}">Check "My Profile" To See your Achivements!</p>
    <p class="lead" th:unless="${user}">Explore our quizzes by the Registration and Login!</p>


  </div>

  <div class="display-4" th:if="${user}">

    Try this quizzes!

  </div>



  <div class="row">
    <div th:each="leftSub : ${notSub}" class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title" th:text="${leftSub?.name}">Topic</h5>
          <a class="btn btn-primary" th:if="${user}" th:href="'/' + ${user.id} + '/' + ${leftSub.id} + '/quiz' ">Start Quiz</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>